nav {
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    color: #007b80;
    margin-right: 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #00adb5;
}
